{% extends "layout.html" %}
{% block title %}
Makale Ekleme
{% endblock title %}
{% block body %}
<h3>Makale Ekleme Bölümü</h3>
<hr>
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button type="submit" class="btn btn-danger">Makale Ekle</button>
        </form>
    </div>
</div>
{% endblock body %}
